body {
    font-size: 10pt;
    font-family: Verdana, Geneva, Arial, Helvetica, san-serif;
    color: black;
    line-height: 14pt;
    padding-left: 5pt;
    /* I changed the padding-right value from 5pt to 25pt, as I think 25pt looks better with the border around the logo image. */
    padding-right: 25pt; 
    padding-top: 5pt;
}

h1 {
    font: 14pt Verdana, Geneva, Arial, Helvetica, san-serif;
    font-weight: bold;
    line-height: 20pt;
}

p.subheader {
    font-weight: bold;
    color: #593d87;
}

img {
    padding: 3pt;
    float: right;
    /* I added the border and background-color stuff myself */
    /*
    border-style: solid;
    border-color: black;
    border-width: 5px;
    */
    border: 10px double red;
    background-color: blue;
}

a {
    text-decoration: none;
}

a :link, a :visited {
    color: #8094d6;
}

a :hover, a :active {
    color: #FF9933;
}

footer {
    font-size: 9pt;
    font-style: italic;
    line-height: 12pt;
    text-align: center;
    padding-top: 30pt;
}


    
    
